
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Ajax.ActionLink("取得時間", "GetTime", new AjaxOptions { UpdateTargetId = "now" })

<hr />

<div id="now"></div>

<hr />

@Ajax.ActionLink("取得JSON", "GetJson", new AjaxOptions { HttpMethod = "Post", OnSuccess = "getResult" })

<hr />

<script>
    function getResult(data) {
        console.log(data);
        alert(data.result);
    }

</script>


