@model MVC5Course.Models.Client

@if (IsAjax) { Layout = ""; }

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
   @Html.DisplayForModel()
   @*@Html.DisplayForModel("Client.v2")*@
</div>

@{
    var orderList = ViewBag.OrderList as IEnumerable<Order>;
}

Client's Order List

@*@Html.Action("Index", "Orders", new { Clients = Model.ClientId })*@
@*@Html.Partial("OrderList", Model.Order)*@
@Html.DisplayFor(m => m.Order, "OrderList")

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
